
{% extends "layout/website_layout.html" %}
{% load templatetag %}
{% block content %}


<div class="content-wrapper" style="min-height: 916px;">
  
    <section class="content-header">
      <h1>
        Update Attendance
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'admindashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="javascript:;"> Update Attendance </a></li>
        <li class="active"></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">

            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                        
                  </div>
                  
                  <div class="col-md-10">
                  <form method="get" id="customersearch" action="">
                            <div class="col-md-3">
                                <div class="form-group">
                                  <label> Date </label>
                                  <input type="date" name="date" class="form-control" value="{{request.GET.date}}">
                                  
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                  <label>Name</label>
                                <input type="text" name="user_name" class="form-control" placeholder="Please enter your search" value="{{request.GET.user_name}}">
                                </div>
                            </div>
                        <div class="row">
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" style="margin-top: 22px;"> GO </button>
                             
                            </div>
                        </div>
                      </form>
                    </div>
              </div>
              <div class='table-responsive'> <div style="overflow-x:auto;">

              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                        <th>  Sr. No </th>
                        <th> Month/Year </th>
                        <th> Location </th>
                        <th> Employee ID </th>
                        <th> Employee Name </th>
                        <th> Attendance Type</th>
                        <th> Mode of Attendance</th>
                        <th> Date </th>
                        <th> Login Time</th>
                        <th> Login Location </th>
                        <th> Logout Time </th>
                        <th> Logout Location </th>
                        <th>  Status </th>
                </tr>
                </thead>
                <tbody>
                    {% if responselistquery%}
                         {% for data in responselistquery %}
                            <tr>
                                
                                <td><strong>{{forloop.counter}}</strong></td>
                                {% comment %} <td>{{data.login_time|date:"M Y"}}</td> {% endcomment %}
                                <td>{{ data.date_field }}</td>
                                <td>{{ data.location}}</td>
                                <td>{{ data.employee_id }}</td>
                                <td>{{ data.employee_names }}</td>
                                <td>{{ data.attendance_type }}</td>
                                <td>{{ data.attendance_mode }}</td>
                                <td>{{ data.date }}</td>
                                <td>{{ data.login_time }}</td>
                                <td>{{data.address }}</td>
                                <td>{{ data.logout_time }}</td>
                                <td>{{ data.logout_address }}</td>
                                <td>
                                  {% get_permission_data_from 7 3 as permission_menu %}
                                  {% if permission_menu.edit %}
                                    <a href="{% url 'crm_employee_services_attendance_update' data.id %}"> Modify</a>
                                    <a href="{% url 'crm_employee_services_attendance_update' data.id %}" style='color:red;'>Delete</a> 
                                  {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr><td colspan="6"> No Record Found </td></tr>
                    {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% include "layout/manage_pagination.html" %}
      </div>
    </section>
  </div>

{% include "layout/admin_message.html" %}
{% endblock %}

