{% extends "layout/website_layout.html" %}

{% block content %}


<div class="content-wrapper" style="min-height: 950x;">
    <section class="content">
      <div class="box box-default">
        <!-- <div class="box-header with-border"> -->
          <!-- <h3 class="box-title"> </h3> -->
        <!-- </div> -->
        <div class="box-body">
          <form action="" method="post" id="add_edit_consultant" enctype="multipart/form-data">
        <div class="row">
          
          {% csrf_token %}
          <h3 class="box-title">Offer Details</h3> 
            <div class="box-header with-border">
              <div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class ="row">
                        <div class ="col-sm-4">
                          <label>Department</label><br>
                        {{form.department}}
                        </div>
                        <div class="col-sm-4">
                          <label>Designation</label><br>
                        {{ form.designation }}
                        </div>
                        <div class="col-sm-4">
                          <label>Grade</label><br>
                          {{ form.grade }}
                        </div>
                        <div class="col-sm-3">
                          <br><label>Joining Date</label><br>
                          {{ form.valid_upto }}
                        </div>
                        
                         <div class="col-sm-3">
                          <br><label>Joining Location</label><br>
                          {{ form.location }}
                        </div>

                        <div class="col-sm-3">
                         <br> <label>Contact Person</label><br>
                          {{ form.offer_contact_person }}
                        </div>
                        <div class="col-sm-3">
                         <br><label>Designation</label><br>
                          {{ form.designation }}
                        </div>

                      </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
        </div>
        <div class="form-group">
        <input name="" type="submit" value="Submit" class="btn btn-primary" id="submitbtn" style="float:right"></div>
      </div>
          </form>
  </section>
</div> 
{% endblock %}


