{% extends "layout/website_layout.html" %}
{% load templatetag %}
{% block content %}
<div class="content-wrapper" style="min-height: 916px;">
 <!-- Main content -->
 <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">           
        </div>
        <div class="box-body">
        <div class='table-responsive'> <div style="overflow-x:auto;">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                  <th> Sr.No </th>
                  <th> Location </th>
                  <th> Department   </th>
                  <th> Designation</th>
                  <th> Existing Strength </th>
                  <th> New Requirement  </th>
                  <th> Total Strength </th>
                  <th> Job Description </th>
                  <th> Created By </th>
                  <th> Recommended By</th>
                  <th> Current Status</th>
                  <th> Action </th>
              </tr>
            </thead>
            <tbody>

                  {% if responselistquery %}
                     {% for data in responselistquery %}
                      <tr>
                          <td><strong>{{ responselistquery.start_index|add:forloop.counter0 }}</strong></td>
                          <td>{{ data.location}}</td>
                          <td>{{ data.department.department }}</td>
                          <td>{{ data.designation }}</td>
                          <td>{{ data.existing_strength }}</td>
                          <td>{{ data.new_requirement }}</td>
                          <td>{{ data.total_strength }}</td>
                          <td>{{ data.job_description }}</td>
                          <td> {{ data.user }}</td>
                          <td>{{ data.user }}</td>
                         
                          <td>{{ data.hr_action }}</td>
                        <td>

                            {% comment %}
                            <a href="{% url 'crm_website_employeeservices_hr_review_of_requirement_delete' data.id %}" 
                            style="color: red;">Delete</a><br>
                            {% endcomment %}
                            
                      <a href="{% url 'edit_employee_recruitement' data.id %}" style="color:green;">Review</a><br>
                                  <!-- <input name="" type="submit" value="Submit" class="btn   btn-primary" id="submitbtn"> -->
              {% comment %}
              <a href="{% url 'crm_website_employeeservices_not_recommended_by_Hr' data.id %}" style="color: red;">Rejected</a><br>

              <a href="{% url 'crm_website_employeeservices_rejected' data.id %}" style="color:black"> Put On Hold</a>
              {% endcomment %}

                            

                             

                            {% approval_status_of_requirement request.user.id data.id as get_approval_level %}
                              
                              &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                            {% if get_approval_level %}
                                <a href="{% url 'approval_vacancy_update_status' data.id get_approval_level.0.approval_level.sequence 1 %}" class="approval_level_cls"> Approval </a>
                            {% endif  %}


                        </td>

                      </tr>
                    {% endfor %}
                {% else %}
                <tr><td></td></tr>
                {% endif %}
            </tfoot>
          </table>
        </div>
      </div>
      <!-- /.box -->
    </div>
            <div class="row">
        {% include "layout/manage_pagination.html" %}
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>
{% include "layout/admin_message.html" %}
{% endblock %}

